<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCIJpXIdCuv-G_HF5Xkrr6WBnadNOhdLXY</string>
	<key>GCM_SENDER_ID</key>
	<string>472313342665</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mainProject.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>main-project-9d535</string>
	<key>STORAGE_BUCKET</key>
	<string>main-project-9d535.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:472313342665:ios:1fb2fdc73f6a8433257b18</string>
</dict>
</plist>